@import "./variables";
@import "./functions";

.quizz {
  display: flex;
  flex: 1;
  margin-top: 3%;
  flex-direction: column;

  &__footer {
    display: flex;
    margin-bottom: rem(40);
    justify-content: center;
    align-items: center;

    .stop {
      box-shadow: 0 5px 15px 0 rgba($mainColor2, 0.3);
      background-color: $mainColor3;
      border: none;
      margin: 0 rem(20);
      width: auto;
      height: rem(95);
      font-size: 1.4rem;
      font-weight: 600;
      transition: all 0.1s ease-in-out;

      &:active {
        transform: translateY(2px);
        box-shadow: 0 0 0 0 rgba($mainColor2, 0.3);
      }
    }

    .joker {
      margin: 0 rem(20);
      padding: rem(20);
      width: rem(80);
      height: rem(80);
      border-radius: 5px;
      box-shadow: 0 5px 15px 0 rgba($mainColor2, 0.3);
      transition: all 0.1s ease-in-out;

      &:active {
        transform: translateY(2px);
        box-shadow: 0 0 0 0 rgba($mainColor2, 0.3);
      }

      &:first-child {
        padding: rem(24);
      }
      &:nth-child(2) {
        padding: rem(22) rem(20);
      }

      svg {
        fill: #ffffff;
        width: rem(40);
        height: rem(40);
      }

      &.isDisabled {
        opacity: 0.4;
        pointer-events: none;
      }
    }
  }

  &__question {
    margin-top: rem(50);
    font-size: rem(25);
    color: $mainColor2;
  }

  &__breadcrumb {
    display: block;
    margin-top: rem(15);
    font-size: rem(20);
    color: $mainColor2;
  }

  form {
    flex: 1;
    padding: rem(60) 0;
  }

  &__answerList {
    display: flex;
    flex-direction: column;
    padding: 0 rem(10);
  }

  &__answerItem {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: rem(25);
    border: 1px solid $headerBorder;
    border-radius: 3px;
    box-shadow: 0 10px 25px 0 rgba($mainColor2, 0.3);
    background: #ffffff;
    padding: rem(20);
    font-size: rem(23);
    color: $mainColor2;
    animation: opacity 0.5s linear forwards;

    input {
      position: absolute;
      top: 17px;
      left: 20px;
      width: rem(25);
      height: rem(25);
      opacity: 0;
      z-index: 1;
      cursor: pointer;

      &:checked + label:after {
        content: "";
        position: absolute;
        top: 24px;
        left: 28px;
        background: $mainColor1;
        width: rem(18);
        height: rem(18);
        border-radius: 2px;
      }
    }

    label {
      margin-left: rem(50);
      width: 100%;
      text-align: left;
      cursor: pointer;

      &:before {
        content: "";
        position: absolute;
        top: 20px;
        left: 24px;
        background: lighten($mainColor2, 65);
        width: rem(26);
        height: rem(26);
        border-radius: 2px;
      }
    }

    &--text {
      height: auto;
      margin: rem(45) rem(10);
      padding: 0;
      border-radius: 5px;

      input {
        position: static;
        border: none;
        padding: rem(34);
        width: 100%;
        opacity: 1;
        cursor: text;
        border-radius: 5px;

        &:focus {
          outline: none;
          background-color: lighten($mainColor1, 45);
        }
      }
    }
  }
}
