// COLORS

$mainColor1: #42b983;
$mainColor2: #2c3e50;

// FONTS

$mainFont: "Source Sans Pro", sans-serif;
$brandFont: "Dosis", sans-serif;

// BORDERS

$headerBorder: #eaecef;
$formBorder: #cfd4db;
