// COLORS

$mainColor1: #42b983;
$mainColor2: #2c3e50;
$mainColor3: #7c8686;
$mainColor4: #ffffff;
$mainColor5: #35495e;

// BORDERS

$headerBorder: #eaecef;
$formBorder: #cfd4db;

// FONTS

$mainFont: "Source Sans Pro", sans-serif;
$brandFont: "Dosis", sans-serif;
